body{
    background: #909090;
}
.header{

}
.inner-header{
    background: #202020;
    height: 200px;
    width: 100%;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.inner-content{
    background: whitesmoke;
    min-height: 3500px;
}
.footer {
    height: 270px;
    background: #202020;
}
.inner-footer{
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
* html .row { height: 1%; }
.row { display: block; }
*{
    box-sizing: border-box;
}
a,p,h2,h1{
    font-family: 'Kelly Slab', cursive;
    color: #ff5816;
}
h1{
    margin-top: 0px;
    margin-right: 0px;
    font-size: 70px;
    width: 30%;
    text-indent: 20px; /* Отступ первой строки в пикселах */
    margin-bottom: 5px;
}
.sb{
    font-size: 50px;
    text-align: center;
}
li {
    list-style-type: none; /* Убираем маркеры */
    font-size: 55px;
    text-indent: 38px; /* Отступ первой строки в пикселах */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #ff5816;
}
*{
    margin: 0px;
    padding: 0px;
}
video{
    padding-left: 20px; /* Отступ первой строки в пикселах */
}
#hr{
    margin-bottom: 10px;
}
li {

    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
